In [ ]:
import pandas as pd

df_excel = pd.read_excel('jml_prod_sampah.xlsx', sheet_name='data')
df_excel
halo

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_produksi_sampah,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,1511.15,TON PER HARI,2015
1,2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,419.01,TON PER HARI,2015
2,3,32,JAWA BARAT,3203,KABUPATEN CIANJUR,981.41,TON PER HARI,2015
3,4,32,JAWA BARAT,3204,KABUPATEN BANDUNG,1895.94,TON PER HARI,2015
4,5,32,JAWA BARAT,3205,KABUPATEN GARUT,464.74,TON PER HARI,2015
...,...,...,...,...,...,...,...,...
238,239,32,JAWA BARAT,3275,KOTA BEKASI,NaN,TON PER HARI,2023
239,240,32,JAWA BARAT,3276,KOTA DEPOK,NaN,TON PER HARI,2023
240,241,32,JAWA BARAT,3277,KOTA CIMAHI,NaN,TON PER HARI,2023
241,242,32,JAWA BARAT,3278,KOTA TASIKMALAYA,NaN,TON PER HARI,2023
242,243,32,JAWA BARAT,3279,KOTA BANJAR,NaN,TON PER HARI,2023

In [2]:
filtered_df_2018 = df_excel[df_excel['tahun'] == 2020]
tpy = {}

for i, baris in filtered_df_2018.iterrows():
    tahun_produksi = baris['tahun']
    total = baris['jumlah_produksi_sampah'] * 365 # 365 = jumlah hari dalam setahun
    if tahun_produksi in tpy:
        tpy[tahun_produksi] += total
    else:
        tpy[tahun_produksi] = total

print("\n2. Total produksi sampah di seluruh Kabupaten/Kota di Jawa Barat untuk tahun tertentu")
print(f" pada tahun {tahun_produksi} adalah: {tpy[2020]:.2f}")



print("\n3. Jumlahkan Data Pertahun")
tpy = {} 
for i, baris in df_excel.iterrows():
    tahun_produksi = baris['tahun']
    jumlah_produksi = baris['jumlah_produksi_sampah'] * 365 
    
    if tahun_produksi in tpy:
        tpy[tahun_produksi] += jumlah_produksi
    else:
        tpy[tahun_produksi] = jumlah_produksi

for tahun, total in tpy.items():
    print(f"Total produksi sampah pada seluruh Kabupaten/Kota pada tahun {tahun} adalah: {total:.2f}")

print("\n4.Jumlahkan data per Kota/Kabupaten per tahun")
tpkkt = {} 

for i, baris in df_excel.iterrows():
    tahun_produksi = baris['tahun']
    kab_kot = baris['nama_kabupaten_kota']
    jml_pkk = baris['jumlah_produksi_sampah'] * 365 # 365 = jumlah hari dalam setahun
    
    if tahun_produksi not in tpkkt:
        tpkkt[tahun_produksi] = {}
    if kab_kot in tpkkt[tahun_produksi]:
        tpkkt[tahun_produksi][kab_kot] += jml_pkk
    else:
        tpkkt[tahun_produksi][kab_kot] = jml_pkk

dataset = []

for tahun, kab_kot_dic in tpkkt.items():
    for kab_kot, total in kab_kot_dic.items():
        dataset.append({'Tahun Produksi': tahun, 'Kota/Kabupaten': kab_kot, 'Total Produksi': total})

df = pd.DataFrame(dataset)
df

2. Total produksi sampah di seluruh Kabupaten/Kota di Jawa Barat untuk tahun tertentu
 pada tahun 2020 adalah: 9246545.00

3. Jumlahkan Data Pertahun
Total produksi sampah pada seluruh Kabupaten/Kota pada tahun 2015 adalah: 7653783.55
Total produksi sampah pada seluruh Kabupaten/Kota pada tahun 2016 adalah: 7653783.55
Total produksi sampah pada seluruh Kabupaten/Kota pada tahun 2017 adalah: 7653783.55
Total produksi sampah pada seluruh Kabupaten/Kota pada tahun 2018 adalah: 8312115.80
Total produksi sampah pada seluruh Kabupaten/Kota pada tahun 2019 adalah: 8939054.40
Total produksi sampah pada seluruh Kabupaten/Kota pada tahun 2020 adalah: 9246545.00
Total produksi sampah pada seluruh Kabupaten/Kota pada tahun 2021 adalah: 5743406.40
Total produksi sampah pada seluruh Kabupaten/Kota pada tahun 2022 adalah: nan
Total produksi sampah pada seluruh Kabupaten/Kota pada tahun 2023 adalah: nan

4.Jumlahkan data per Kota/Kabupaten per tahun

     Tahun Produksi      Kota/Kabupaten  Total Produksi
0              2015     KABUPATEN BOGOR       551569.75
1              2015  KABUPATEN SUKABUMI       152938.65
2              2015   KABUPATEN CIANJUR       358214.65
3              2015   KABUPATEN BANDUNG       692018.10
4              2015     KABUPATEN GARUT       169630.10
..              ...                 ...             ...
238            2023         KOTA BEKASI             NaN
239            2023          KOTA DEPOK             NaN
240            2023         KOTA CIMAHI             NaN
241            2023    KOTA TASIKMALAYA             NaN
242            2023         KOTA BANJAR             NaN

[243 rows x 3 columns]

In [3]:
df.to_excel('exportexcel.xlsx', index=False)
df.to_csv('exportcsv.csv', index=False)